@media (min-width: 0px) and (max-width: 600px) {

  html,
  body {
    overflow-x: hidden;
  }

  .navbar {
    padding: 0px 30px;
    display: flex;
    position: relative;
  }

  .navbar a {
    text-decoration: none;
    color: #3a86ff;
    font-weight: 900;
    font-size: 1.5rem;
  }

  .navbar .nav-list {
    padding: 1rem 0px;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    z-index: 9999;
    gap: 40px;
    justify-content: center;
    display: flex;
    transition: transform 1s ease-in-out;
    left: 100%;
  }

  .navbar .show {
    display: flex;
    transform: translateX(0px);
    left: 0px;
    transition: all 1s ease-in;
  }

  .navbar .nav-list li {
    height: auto;
  }

  .navbar .nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
  }


  .navbar .fa-solid.fa-bars {
    display: block;
    cursor: pointer;
  }

  .navbar .nav-dropdown {
    height: auto;
    text-align: center;
  }

  .nav-dropdown-menu li a {
    padding: 0px;
    text-decoration: none;
    color: #000;
  }

  .nav-dropdown .nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    border: none;
    width: 100%;
    gap: 40px !important;
  }

  .nav-dropdown:hover .nav-dropdown-menu {
    display: flex;
  }

  .nav-dropdown .title {
    display: none;
  }

  .navbar li a:hover {
    background-color: transparent;
    color: #3a86ff;
  }

  /* footer styling */


  .footer {
    padding: 16px;
  }

  .footer .colcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto , 1fr);
  }

  .footer .colcontainer h3{
    text-align: center;
  }
  .footer .colcontainer ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .footer p {
    text-align: center;
    text-align: center;
    margin-top: 1rem;
  }

  /* contact page styling */

  .contactpage {
    width: 100%;
    padding: 3rem 0px;
  }

  .contactpage form {
    width: 90%;
  }


  /* signup or login page styling  */

  .signuppage,
  .loginpage {
    width: 100%;
    padding: 2rem 0px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto , 1fr);
  }

  .signuppage form,
  .loginpage form{
width: 100%;
  display: flex;
  padding: 1rem;
  }


  /* allpage vlog and myblog page styling */

  .Allvlog,
  .myvlog {
    padding: 2rem 2rem;
    width: 100%;
  }


  .card-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(auto, 1fr) !important;
    gap: 20px;
  }

  .card-group .card-links .card .card-image {
    height: 30rem !important;
  }


  /* new vlog page styling */



  form {
    width: 100%;
    margin: 0px;
    padding: 1rem;
  }

  form .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.6rem;
  }

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #e3e3e3;
  }

  input:focus {
    outline: none;
    border: 1px solid black;
  }

  textarea {
    border: 1px solid #e3e3e3;
    padding: 0.3rem 1rem;

  }

  textarea:focus {
    outline: none;
    border: 1px solid black;

  }

  .btnclass {
    border: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: white;
    background-color: #3a86ff;
    width: 100%;
    border-radius: 7px;
    margin-top: 1rem;
  }

  input::file-selector-button {
    background-color: #3a86ff;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem 0.7rem;
  }

  /* detailblog page styling */
  .detailBlog-page {
    width: 100%;
    margin: auto;
  }

  .detailBlog-page .content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .detailBlog-page .content .left {
    box-shadow: none;
    border-radius: 2rem;
    width: 100%;
    height: auto;
  }

  .detailBlog-page .content .left img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    border-radius: 2rem;
  }

  .detailBlog-page .content .right {
    padding: 1rem;
    box-shadow: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .detailBlog-page .content .right h1 {
    font-weight: 400;
  }

  /* edit blog page */

  .editblog-page {
    width: 100% !important;
    margin: 0px auto;
  }

  /* home page styling started */

  .hero-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    justify-content: end;
    align-items: center;
    gap: 0px;
  }

  .hero-section h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .hero-section p{
    text-align: center;
  }

  .blog-card-section h1 {
    font-size: 24px;
    font-weight: 700;
  }



}